<!DOCTYPE html>
{% extends "sample_app/base.html" %}
{% block body_block %}
    <div class="container">
      <div class="jumbotron">
        <h1>Testing Django Features</h1>
        <h2>List of Access records</h2>
        <div class="djangotwo">
          {% if access_records %}
          <table>
            <thead>
              <th>Site Name</th>
              <th>Date Accessed</th>

              {% for acc in access_records %}
              <tr>
                <td>{{acc.name}}</td>
                <td>{{acc.date}}</td>
              </tr>
              {% endfor %}

            </thead>
          </table>
          {% else %}
          <p>NO ACCESS RECORD FOUND</p>
          {% endif %}

          </div>
          <h2>Templated urls, forms, static image test, admin page, etc.</h2>
          <!--What out: there shouldn't be any unnecessary space in the template tag below! -->
          <p>To see the content of the WebUser table (fake users): <a href="{% url 'sample_app:users'%}">click here</a></p>
          <p>To see the 'help' page: <a href="{% url 'sample_app:help'%}">click here</a></p>
          <p>To use a form that doesn't do anything (and see how validation works): <a href="{% url 'sample_app:form_name'%}">click here</a></p>
          <p>To use a form to add new WebUser: <a href="{% url 'sample_app:form_enter_user'%}">click here</a></p>
          <!-- <p><a href="{% url 'sample_app:relative' %}">CLICK HERE TO TEST RELATIVE PATH IN TEMPLATE</a></p> -->
          <p>For the admin index page: <a href="{% url 'admin:index' %}">click here</a>. Note that the User in admin are
          the actual admin users of this website, wherease the WebUser is just a demo data table.</p>
      </div>
      <p><a href='{%url 'index'%}'>Return Home</a></p>
    </div>
{%endblock%}
