<!DOCTYPE html>
{% extends "sample_app/base.html" %}
{% load static %}
{% block body_block %}
    <div class="container">
      <div class="jumbotron">
        <h1>{% if user_name %}Hello {{user_name}}, w{%else%}W{% endif %}elcome to my Django sample project!</h1>
        <p>This is a basic full-stack Django website/web application.
        This website utilises HTML, CSS/Boostrap and JavaScript/JQuery in the front-end
      and Python/Django and SQLite in the back-end. The website is hosted on PyhonAnywhere
    and the source code is available on GitHub.</p>
    <p>This sample website follows the Django architecture below and will serve
    as an example of how to build a simple full-stack Django web application.</p>
    <p>
      <strong>Versions:</strong> Python - 3.9, Django - 3.2.5, Bootstrap - 3.3.7, JQuery - 3.5.1
    </p>
      <figure class="figure">
        <img class="figure-img img-fluid rounded" src='{% static "images/DjangoArchitecture.png" %}' alt="DjangoArchitecture.jpg"/>
        <figcaption class="figure-caption">Django Artchitecture (Source:Pierian Data/Udemy course - Django Bootcamp).</figcaption>
      </figure>
      </div>
    </div>
    <!-- Include the content of another HTML file -->
    {% include "sample_app/instructions.html"%}

    <div class="container">
      <div class="jumbotron">
        <h2>Explore</h2>
        <!--What out: there shouldn't be any unnecessary space in the template tag below! -->
        <p>Visit this page to check out some basic features of the website: <a href="{% url 'sample_app:features_test'%}">CLICK HERE</a></p>
        <p><strong>Note: you can register for an account to access many features of this website.</strong></p>
        <p><strong>Note: you will NOT be able to access the Admin feature of this website. However, you can follow the instructions above
        and set up this website on your own computer. You will THEN be able to access the Admin feature using the login details of the
      "superuser" you create as part of the process above.</strong></p>
      </div>
    </div>
{%endblock%}
